<div class="home">
  <div class="home__container container">
    <app-header></app-header>
    <div class="home__content">
      <div class="home__list-book">
        <app-card-book *ngFor="let book of bookPaginate.data" [book]="book">
        </app-card-book>
      </div>
      <mat-paginator
        class="home__paginator"
        [length]="bookPaginate.totalPages | number: '1.0-0'"
        [pageSize]="amount"
        (page)="onPageChange($event)"
        [hidePageSize]="true"
        *ngIf="bookPaginate.totalPages > 1"
      >
      </mat-paginator>
      <div class="home_list-book-empty" *ngIf="bookPaginate.totalPages === 0">
        <div class="home_list-book-empty__text">Nenhum livro encontrado.</div>
      </div>
    </div>
  </div>
</div>
