.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(/assets/images/background-home.png),
    url(/assets/images/background-home2.png);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &__list-book {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 32px;
  }

  &__paginator {
    margin-top: 16px;
  }

  mat-paginator {
    background-color: transparent;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
  }
}

:host ::ng-deep {
  mat-paginator {
    .mat-icon-button:first-of-type {
      padding: 0 0 0 4px;
    }
    .mat-icon-button:last-of-type {
      padding: 0 0 0 6px;
    }

    .mat-icon-button {
      display: flex;
      background: none;
      border: 1px solid #33333333;
      border-radius: 50%;
      margin-right: 8px;

      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        color: #333333;
      }
    }
  }

  @media (max-width: 768px) {
    mat-paginator {
      .mat-paginator-container {
        justify-content: center;
      }

      .mat-paginator-range-actions {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 'previus page next';

        .mat-paginator-range-label {
          grid-area: page;
        }
        .mat-icon-button:first-of-type {
          grid-area: previus;
        }
        .mat-icon-button:last-of-type {
          grid-area: next;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    &__container {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .home {
    &__list-book {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 992px) {
  .home {
    &__list-book {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (min-width: 1200px) {
  .home {
    &__list-book {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
