<mat-card class="book" (click)="openBookDetails(book)">
  <img
    class="book__cover"
    src="{{ book.imageUrl }}"
    onerror="this.src='assets/images/book-placeholder.png'"
  />
  <div class="book__info">
    <h3 class="book__title">{{ book.title }}</h3>
    <div class="book__authors">
      <div class="book__author" *ngFor="let author of book.authors.slice(0, 2)">
        {{ author }}
      </div>
    </div>

    <div class="book__page-count">{{ book.pageCount }} páginas</div>
    <div class="book__publishing">Editora {{ book.publisher }}</div>
    <div class="book__publishing-date">Publicado em {{ book.published }}</div>
  </div>
</mat-card>
