.book {
  display: grid;
  height: 160px;
  grid-template-columns: 81px 1fr;
  box-shadow: 0px 16px 80px rgba(84, 16, 95, 0.32);
  cursor: pointer;

  &__cover {
    position: relative;
    width: 81px;
    height: 121px;
    filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__author {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #ab2680;
  }

  &__page-count,
  &__publishing,
  &__publishing-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #999999;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  &__page-count {
    margin-top: auto;
  }
}
