<div class="header">
  <app-logo color="#333333"></app-logo>
  <div class="header__logout-container">
    <div class="header__user" *ngIf="user">
      {{ welcomeText(user.gender) }}
      <span class="header__user-name">{{ user.name }}!</span>
    </div>
    <button class="header__logout-button" (click)="logout()">
      <mat-icon inline>logout</mat-icon>
    </button>
  </div>
</div>
