.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 368px;
    margin-left: 115px;
  }

  &__user {
    display: none;

    &-name {
      font-weight: 500;
    }
  }

  &__logout {
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 16px;
    }

    &-button {
      display: flex;
      background: none;
      height: 32px;
      width: 32px;
      font-size: 20px;
      border: 1px solid #33333333;
      border-radius: 50%;
      padding: 0 0 0 4px;
      cursor: pointer;

      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        color: #333333;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__user {
      display: block;
    }
  }
}
