<div class="login">
  <div class="login__container">
    <div class="login__logo">
      <app-logo></app-logo>
    </div>
    <div class="login__form">
      <div class="login__form-content">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          (click)="removeInvalidLoginErrors(form)"
        >
          <mat-form-field appearance="fill" errorState>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" />
            <div matSuffix class="login__form-submit">
              <button [disabled]="!form.valid">Entrar</button>
            </div>
          </mat-form-field>
          <div
            class="login__form-error"
            #tooltip="matTooltip"
            matTooltipHideDelay="500000"
            matTooltip="Email e/ou senha incorretos."
            matTooltipPosition="below"
            matTooltipClass="custom-tooltip"
            tooltip
          ></div>
        </form>
      </div>
    </div>
  </div>
</div>
