:host ::ng-deep {
  mat-form-field {
    width: 100%;
    color: #fff;
  }
  .mat-form-field-label {
    color: #fff !important;
  }
  .mat-form-field-flex {
    background: #00000052;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
  }
}

::ng-deep {
  .custom-tooltip {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: white !important;
    margin: 0 !important;
    padding: 8px 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 6px;
    overflow: visible !important;
    box-shadow: none;

    &:before {
      border-right-color: white !important;
    }
    &:after {
      content: '';
      position: absolute;
      top: -38%;
      left: 10%;
      margin-top: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/assets/images/background-login.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__logo {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    max-width: 368px;
    margin-left: 115px;
  }

  &__form-submit {
    position: relative;
    width: 85px;
    height: 22px;

    button {
      cursor: pointer;
      position: absolute;
      top: -8px;
      width: 85px;
      height: 36px;
      border-radius: 44px;
      border: none;
      background-color: #fff;
      color: #b22e6f;

      &[disabled] {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  &__form-content {
    position: relative;
  }

  &__form-error {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 32%;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .login {
    &__container {
      margin: auto;
      padding: 0 16px;
    }
  }
}
