<button class="dialog-close-button" (click)="onClose()">
  <mat-icon inline>close</mat-icon>
</button>
<div class="book">
  <img
    class="book__cover"
    src="{{ book.imageUrl }}"
    onerror="this.src='assets/images/book-placeholder.png'"
  />
  <div class="book__content">
    <h3 class="book__title">{{ book.title }}</h3>
    <div class="book__authors">
      {{ book.authors.join(', ') }}
    </div>

    <h4 class="book__info-title">INFORMAÇÕES</h4>
    <div class="book__info">
      <div class="book__info-content">
        <span class="book__info-content-label">Páginas</span>
        <span class="book__info-content-value">{{ book.pageCount }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">Editora</span>
        <span class="book__info-content-value">{{ book.publisher }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">Publicação</span>
        <span class="book__info-content-value">{{ book.published }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">Idioma</span>
        <span class="book__info-content-value">{{ book.language }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">Categoria</span>
        <span class="book__info-content-value">{{ book.category }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">ISBN-10</span>
        <span class="book__info-content-value">{{ book.isbn10 }}</span>
      </div>
      <div class="book__info-content">
        <span class="book__info-content-label">ISBN-13</span>
        <span class="book__info-content-value">{{ book.isbn13 }}</span>
      </div>
    </div>

    <div class="book__review">
      <h4 class="book__review-title">RESENHA DA EDITORA</h4>
      <blockquote>
        {{ book.description }}
      </blockquote>
    </div>
  </div>
</div>
