::ng-deep {
  .dialog-details-book {
    max-width: 100% !important;
    padding: 64px 16px 16px 16px;
    .mat-dialog-container {
      width: 100%;
      grid-template-columns: 1fr;
      overflow: visible;
    }
  }

  @media (max-height: 992px) and (max-width: 768px) {
    .dialog-details-book {
      overflow: scroll;
    }
  }

  @media (min-width: 768px) {
    .dialog-details-book {
      .mat-dialog-container {
        width: 769px;

        .book {
          display: grid;
          grid-template-columns: 349px 1fr;
          padding: 24px;

          &__cover {
            width: 349px;
            height: 512px;
          }

          &__content {
            padding-left: 48px;
          }

          &__review {
            blockquote {
              width: calc(100% + 46px);
              padding-right: 40px;
              overflow-y: scroll;
              max-height: 170px;
            }
          }
        }
      }
    }
  }
}

.dialog-close-button {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  background: #fff;
  height: 32px;
  width: 32px;
  font-size: 20px;
  border: 1px solid #33333333;
  border-radius: 50%;
  padding: 0;

  .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    color: #333333;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cover {
    position: relative;
    width: 240px;
    height: 351px;
    filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    color: #333333;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__authors {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #ab2680;
  }

  &__page-count,
  &__publishing,
  &__publishing-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #999999;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  &__page-count {
    margin-top: auto;
  }

  &__info {
    &-title {
      font-size: 12px;
      font-weight: 500;
      margin-top: 32px;
      margin-bottom: 12px;
    }

    &-content {
      &-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #333333;
      }

      &-value {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: #999999;
        float: right;
      }
    }
  }

  &__review {
    &-title {
      font-size: 12px;
      font-weight: 500;
      margin-top: 32px;
      margin-bottom: 6px;
    }

    blockquote {
      margin: 0;
      color: #999999;
      scrollbar-width: thin;
      scrollbar-color: #ab2680 transparent;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ab2680;
        border-radius: 30px;
      }

      &::-webkit-scrollbar-track {
        margin-right: -30px;
      }
    }

    blockquote:before {
      content: open-quote;
    }

    blockquote:before {
      display: inline-block;
      vertical-align: bottom;
      color: #999999;
      font-size: 64px;
      top: 20px;
      position: relative;
      font-family: 'Catamaran', sans-serif;
    }
  }
}
