.loading {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
    color: #fff;
  }
}
