<div class="loading" *ngIf="show">
  <div class="loading__content">
    <div><mat-spinner color="accent"></mat-spinner></div>
    <div class="loading__text">{{ text.toUpperCase() }}</div>
  </div>
</div>
