/* You can add global styles to this file, and also import other style files */

@import './assets/css/container.css';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Heebo, sans-serif',
);
@include mat-core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Heebo, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}
